{% extends "adminapp/admin_layout.html" %}
{% block content %}



<table border="1">
    <tr>
        <th> Name </th>
        <th> Address</th>
        <th>PHOTO</th>
        <th>authorization</th>

    </tr>
    {% for i in data %}
    <tr>
        <td> {{ i.name }}</td>
        <td> {{ i.address }}</td>
        <td><img src="{{i.image.url}}" height="400" width="400" alt="loading" /></td>
        <td> <a href="{% url 'delete' id=i.id %}">DELETE</a> </td>
    </tr>

    {% endfor %}
</table>



{% endblock %}